*, *::after, *::before { /*simplify styling (width, height)*/
  box-sizing: border-box;
}

:root { /*CSS Variable*/
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
  background-image: url(blue-gradient-background.png);
}
h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 50px;
    text-align: center;
    font-weight: 800;
    color: darkorange;
    font-family: 'Bellota Text', cursive;
}

#playerTurn {
    font-size: 100px;
    font-weight: bold;
    margin: 50px;
    margin-top: 100px;
    text-align: center;
    font-weight: 1200;
    color: #ffe900;
    font-family: 'Bellota Text', cursive;
}

.board {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid black;
  display: flex;
  justify-content: center; /* Zentrieren */
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
/* Hovern bei besetzten Feldern nicht erlaubt*/
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
/* Farbe der gesetzten Markierung*/
.cell.x::before,
.cell.x::after {
  background-color: orange;
}
/* Ring Farbe */
.cell.circle::before {
  background-color: #0fed00;
}

/* Bei Hovern auf leeren Feldern */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: #c6cfd1;
}
/* Erstellen von X */
.cell.x::before,
.cell.x::after, /* Hover Effekte gelten nur bei freien Feldern */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}
/* Erstellen von O */
.cell.circle::before,
.cell.circle::after, /* Hover Effekte gelten nur bei freien Feldern */
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%; /* KREIS */
}
/*äußerer Ring */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
/*innen Kreis*/
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: #28ABE3;
}
/* Winning Message */
.winning-message {
  display: none; /* Default not shown */
  position: fixed;
  top: 0; /* Ganze Bildschirm*/
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column; /* Elemente von oben nach unten, sodass Text oberhalb des Buttons und nicht links neben dem Button steht */
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px; /* Abrunden */
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-image: linear-gradient(#0D669E, #2AB1E8);
  color: white;
  border-color: white;
}
/*Superklasse von Winning-Message, wird aufgerufen, wenn Spiel beendet wird*/
.winning-message.show {
  display: flex;
}